
.m-t-3 {
  margin-top: 3%;
}

.m-t-5 {
  margin-top: 5%;
}

.justify-flex {
  display: flex;
  justify-content: space-between;
}

.justify-flex-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
