.m-t-1 {
  margin-top: 1%;
}

.m-t-3 {
  margin-top: 3%;
}

.m-t-5 {
  margin-top: 5%;
}

.m-l-90 {
  margin-left: 90%;
}

.m-r-2 {
  margin-right: 2%;
}

.m-l-2 {
  margin-left: 2%;
}

.justify-flex {
  display: flex;
  justify-content: space-between;
}

.justify-flex-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
