@import "colors";

app-notification {

  .notification-wrapper {
    cursor: pointer;
    transition: .3s;
    position: fixed;
    bottom: 80px;
    right: 20px;
    padding: 5px 10px 5px 10px;
    width: auto;
    height: auto;
  }

  .success-notify {
    background-color: $colorBubbleDefaultGreen;
  }

  .danger-notify {
    background-color: $colorBubbleDefaultRed;
  }

  .warning-notify {
    background-color: $colorYellow;
  }

}
